:root {
    --dark-color: #0F0F0F;
    --dark-gray-color: #111111;
    --light-gray-color: #dadfe1;
    /* --highlight-color: #AB6BFB; */
    --highlight-color: #1BD4BA;
    --light-color:#f2f1ef;
    --background-color: #1F1F1F;
    /* --link:#7325d9; */
    --link: #1BD4BA;
    --link-hover: #ff00dd;
    --link-visited: #b86deb;
    --link-active:#d9259d;
}
body {
    margin: auto;
    width: 50%;
    background-color: var(--background-color);
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    display:grid;
    grid-template-columns: 1fr;
    color: var(--light-color);
}

header {
    display: grid;
    grid-template-columns: auto 1fr;
    margin-top: 1em;
    grid-gap: 14px;
    justify-items: center;
    align-items: center;
    background-color: var(--dark-gray-color);
    border-radius: 1em;
    padding: 15px;
    width: 100%;
}

main {
    font-family: Courier New, monospace, sans-serif;
    font-weight: bold;
}

img {
    border-radius: 1em;
    box-shadow: 3px 3px 3px var(--highlight-color);
}

body p {
    color: var(--light-gray-color);
}

header h2 {
    font-size: xx-large;
    padding: 1em;
    color: var(--highlight-color);
}


footer {
    display: flex; 
    flex-flow: column;
    align-items: center; 
    justify-content: center;
    background-color: var(--dark-gray-color);
    color: var(--highlight-color);
    padding: 15px;
    border-radius: 5px;
}

/* unvisited link */
a:link {
      color: var(--link);
}
/* visited link */
a:visited {
      color: var(--link-visited);
}
/* mouse over link */
a:hover {
      color: var(--link-hover);
}
/* selected link */
a:active {
      color: var(--link-active);
}



@media screen and (max-width: 600px) {
    body {
        width: 75%;
    }
}