/* For mobile and default view */

:root {
    --dark-color: #0F0F0F;
    --dark-gray-color: #111111;
    --light-gray-color: #dadfe1;
    --highlight-color: #1BD4BA;
    --light-color:#f2f1ef;
    --background-color: #1F1F1F;
    --border-line: #363636;
    --link:rgb(214, 214, 33);
    --link-hover: #ff00dd;
    --link-visited: #b86deb;
    --link-active:#d9259d;
}

.glowing {
    color: var(--highlight-color);
    text-shadow: 0.1em 0.1em .75em #c8fff8;
}

html {
    background-color: var(--background-color);
}

body {
    color: var(--light-color);
    display: grid;
    grid-template-columns: 1fr;
    margin: auto;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    max-width: 475px;
}

header {
    background-color: var(--dark-gray-color);
    border-radius: 1em;
}

header  h1 {
    margin-left: 1em;
    margin-right: auto;
}

main {
    font-family: 'Courier Prime', monospace;
    font-weight: bold;
}

.title {
    border-radius: 1em;
    display: grid;
    grid-template-rows: 1fr 1fr;
    margin-left: 1em;
    margin-right: auto;
}

img {
    align-self: center;
    border: 1px solid var(--border-line);
    border-radius: 10px;
    height: auto;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block;
    /* margin: auto; */
}

.example {
    margin: 1em;
    background-color: var(--dark-gray-color);
    border: 1px solid var(--border-line);
    border-radius: 10px;
    max-width: 430px;
    min-width: 300px;
}

div p {
    margin: 1em;
}

footer {
    display: flex; 
    flex-flow: column;
    align-items: center; 
    justify-content: center;
    background-color: var(--dark-gray-color);
    padding: 15px;
    border-radius: 1em;
}

/* unvisited link */
a:link {
    color: var(--link);
}
/* visited link */
a:visited {
    color: var(--link-visited);
}
/* mouse over link */
a:hover {
    color: var(--link-hover);
}
/* selected link */
a:active {
    color: var(--link-active);
}