/* For tablet view */
@media only screen and (min-width: 32.5em) {
    
    /* || Global Css */
    body {
        align-items: unset;
        justify-content: unset;
    }





    /* || Header */
    h1 {
        letter-spacing: 1.5px;
    }
    header {
        /* display: grid; */
        /* grid-template-columns: 1fr 2fr 1fr; */
        grid-template-rows: 2fr 1fr;





    /* || Navigation Menu */





    /* || Main */
    main {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    #call-to-action {
        grid-column: 1/3;
        height: 420px;
        /* width: 100%; */
    }
    .action-button {
        position: relative;
        top:320px;
    }
    #new-release {
        grid-column: 1/3;
    }
    #spotlights {
        display: grid;
        grid-column: 1/3;
    }
    #join {
        display: initial;
        grid-column: 1/3;
        grid-row: 3;
    }
    #event {
        grid-row: 5;
        grid-column: 1/2;
    }
    #weather {
        grid-row: 5;
        grid-column: 2/3;
    }




    /* || Discover Main */
    #discover-divs {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #discover-divs img {
        transition: 0.4s all ease-in-out;
    }

    #discover-divs img:hover {
        transform: scale(1.05);
    }
    .join-button {
        transition: 0.2s all ease-in-out;
    }
    .join-button:hover {
        transform: scale(1.05);
    }





    /*  || Join Main*/
    #join-main {
        grid-column: 1/4;
    }
    form label.top input, form label.top select {
        max-width: 21rem;
    }
    textarea {
        max-width: 80%;
    }




    /* || Thankyou Main */
    #thankyou {
        grid-column: 1/4;
        text-align: center;
    } 



    

    /* || Direcroty Main */
    #directory-main {
        grid-column: 1/4;
    }
    .cardView {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }
    .cards-line {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    .cards-grid {
        display: grid;
        grid-template-columns: 1fr;
    }
    .cardView section {
        width: 300px;
    }
    .list-view {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    
    /* || Footer */
    
}