/* || Global Css */
:root {
    --dark-color: #0F0F0F;
    --border-line: #363636;
    --dark-gray-color: #111111;
    --light-gray-color: #dadfe1;
    --highlight-color: #1BD4BA;
    --light-color:#f2f1ef;
    --background-color: #1F1F1F;
    --link:rgb(214, 214, 33);
    --link-hover: #ff00dd;
    --link-visited: #b86deb;
    --link-active:#d9259d;
}
.glowing {
    color: var(--highlight-color);
    text-shadow: 0.1em 0.1em .75em #c8fff8;
}
html {-webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    background-color: var(--background-color);
}
body {
    display: block;  
    color: var(--light-color);
}
main {
    border: 1px solid var(--dark-color);
    background-color:var(--dark-gray-color);
    border-radius: 1em;
    margin: 10px;
    padding: 10px;
}
main h2, h3, h4, p {
    margin: 1em;
    color: var(--highlight-color);
    font-family: 'Roboto', sans-serif;
}
img {
    /* border: 1px solid var(--border-line); */
    /* border-radius: 10px; */
    /* box-shadow: 0 0 15px rgba(0, 0, 0, 0.9); */
}


/* || Header */
header {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr 1fr;
    grid-template-rows: 2fr 1fr;
    gap: 0.8rem;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--dark-color);
    background-color: var(--dark-gray-color);
    border-radius: 1em;
    margin: 10px;
    padding: 10px;
}
.logo {
    width: 75px;
    height: auto;
    border: none;
    box-shadow: none;
}
h1 {
    margin: 5px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}
#title span{
    font-size: 1.8em;
}


/* || Social */
#social-links {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    max-width: 20px;
}
.fa {
    padding: .7em;
    width: 20px;
    height: 20px;
    text-align: center;
    justify-content: center;
    text-decoration: none;
    border-radius: 50%;
    margin: auto;
}
.fa-facebook {
    background: #3B5998;
    color: white;
  }
.fa-linkedin {
    background: #007bb5;
    color: white;
  }


/* || Navigation Menu */
nav {
    margin: 0 auto;
    max-width: 760px;
    font-family: lato, sans-serif;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav button {
    margin: 0.2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: white;
    align-content: flex-end;
}
.active {
    color: var(--highlight-color);
    text-shadow: 0.1em 0.1em .75em #c8fff8;
}
nav ul li a {
    display: block;
    padding: 0.8rem 2vw;
    text-decoration: none;
    color: white;
    border-top: 1px solid rgba(0,0,0,0.5);
}
nav ul li.active a {
    background-color: rgba(0,0,0,0.2);
}
nav ul li a:hover {
    /* color: var(--background-color); */
    background-color: rgba(182, 182, 182, 0.3);

}
nav ul {display: none;}
nav ul.open {display: block;}

#hamburgerBtn span:nth-child(1) {display:block;}
#hamburgerBtn span:nth-child(2) {display:none;}

#hamburgerBtn.open spand:nth-child(1) {display:none;}
#hamburgerBtn.open spand:nth-child(2) {display:block;}


/* || Date */
#header-date {
    grid-column: 1/5;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(49, 49, 49, 0.5);
    padding: 1em;
    margin: 1em;
}


/* || Main */
body p {
    display: block;
    color: var(--light-gray-color);
}
#call-to-action {
    /* position:relative; */
    /* margin: 10px auto; */
    /* display: grid; */
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* grid-template-rows: 1fr 1fr 1fr; */
}
#call-to-action img {
    width: 100%;
    height: 300px;
    /* object-fit: cover; */
    /* object-position: relative; */
    /* object-position: 50% 50%; */
    /* border-radius: 2px; */
}
.action-button {
    /* grid-column: 2/3;
    grid-row: 2/3;
    cursor: pointer; */
    /* position: absolute; */
    /* align-self: end; */
    /* width: 100px; */
    /* margin-bottom: 10px; */
}
#home-main div {
    border: 1px solid var(--border-line);
    border-radius: 15px;
    padding: 10px;
    background-color: rgba(49, 49, 49, 0.3);

}
#home-main {
    margin: 1rem;
    background-color: rgba(49, 49, 49, 0.3);
    border: 1px solid var(--border-line);
    border-radius: 15px;
    text-align: center;
    padding: 10px;
}

#weather img{
    /* float: left; */
}
#spotlights img {
    max-width: 150px;
}



/* || Join Main*/
#join-main {
    grid-column: 1/2;
}
ul {
    font-family: 'Roboto', sans-serif;
    text-align: left;
}


/* || Join Form */
form {
    font-family: 'Roboto', sans-serif;
    text-align: left;
}
form fieldset{
    margin: 2rem 0;
    border: 5px solid var(--border-line);
    border-radius: 20px;
    padding: .5rem 2%;
}
form legend {
    color: var(--highlight-color);
    margin: 0 1rem;
    padding: 0 .5rem;
}
form label.top, form div {
    display: block;
    padding-top: 1rem;
    color: var(--light-gray-color);
}
form label.top input, form label.top select {
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 18rem;
    background-color: rgba(0,0,0,0.1);
}
textarea {
    width: 90%;
}
.membership {
    padding-top: 5rem;
}
form label.sbs {
    display: block;
    padding: .75rem 0;
    color: rgba(255,255,255,.55);
}
form input.submitBtn {
    border: none;
    background-color: var(--link-active);
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}
form label.top input:required {
    border-left: red solid 6px;
}
form label.top input:required:valid {
    border-left: green solid 6px;
}



/* || Directory main */
#directory-main {
    grid-column: 1/2;
    margin: auto;
    display: block;
}
#directory-main h2 {
    text-align: center;
}
#directory-button-div {
    margin: 1rem;
    background-color:var(--dark-grey-color);
    border: 0px;
    border-radius:0%;
    text-align: center;
}
.cards section {
    border: 1px solid var(--border-line);
}
.cards a {
    color: var(--link-visited);
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    margin-left: 2rem;
}
.cards {
    display: block;
}
.listView {
    display:block;
    border: none;
    text-align: left;
}
.listView section:nth-child(even){
    background-color: var(--border-line);
}
.listView h3, p {
    margin-left: 2rem;
}
.listView img{
    display: none;
}
.cardView img {
    padding: 1rem;
    margin: 1rem;
    max-width: 250px;
    max-height: 250px;
}
.cardView section{
    margin: 1rem;
    border: 5px solid var(--border-line);
    max-width: 350px;
    text-align: center;
}
.cardView {
    display: grid;
    padding: 1rem;
}



/* || Footer */
footer {
    background-color: var(--dark-gray-color);
    padding-top: 15px;
    padding-bottom: 15px;
    align-items: center;
    border-radius: 1em;
    color: var(--highlight-color);
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 10px;
    padding: 10px;
}