:root {
    --color-1: #0D090A;
    --color-2: #3F3639;
    --color-3: #A8A2A4;
    --color-4: #A8A2A4;
    --color-5: #DDDBE4;
    --color-6: #238BD2;
}

html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

h1, p {
    margin: 0 2vw;
}

header div {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

header h1 {
    grid-column: 1;
}

nav button {
    margin: 0.2rem 2vw;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: var(--color-2);
}

nav {
    background-color: #eee;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li a {
    display: block;
    padding: 0.8rem 2vw;
    text-decoration: none;
    color: #333;
    border-top: 1px solid rgba(0,0,0,0.5);
}

nav ul li.active a {
    background-color: rgba(0,0,0,0.2);
    color: #fff;
}

nav ul li a:hover {
    background-color: rgba(0,0,0,0.3);
}

nav ul {display: none;}
nav ul.open {display: block;}

#hamburgerBtn span:nth-child(1) {display:block;}
#hamburgerBtn span:nth-child(2) {display:none;}

#hamburgerBtn.open spand:nth-child(1) {display:none;}
#hamburgerBtn.open spand:nth-child(2) {display:block;}

main div {
    border: 1px solid black;
    margin: 1rem;
}

main div p {
    margin: 1rem;
}

footer {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    /* background-color: ; */
    border-radius: 1em;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    bottom: 0;
}

#contact-info{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}