:root {
    --dark-color: #0F0F0F;
    --border-line: #363636;
    --dark-gray-color: #111111;
    --light-gray-color: #dadfe1;
    --highlight-color: #1BD4BA;
    --light-color:#f2f1ef;
    --background-color: #1F1F1F;
    --link:rgb(214, 214, 33);
    --link-hover: #ff00dd;
    --link-visited: #b86deb;
    --link-active:#d9259d;
    --color-1:#F2E399;
    --color-2:#F2C791;
    --color-3:#B98677;
    --color-4:#F2CBC2;
    --color-5:#F28379;
}

.glowing {
    color: var(--highlight-color);
    text-shadow: 0.1em 0.1em .75em #c8fff8;
}

html {
    background-color: #D9D0BA;
    background-color: var(--background-color);
    
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto !important; 
    float: none !important; 
    color: var(--light-color);
    
}

header {
    border: 1px solid var(--dark-color);
    background-color: var(--dark-gray-color);
    border-radius: 1em;
}

main {
    background-color: var(--dark-gray-color);
    border: 1px solid var(--border-line);
    border-radius: 10px;
}

header h1 {
    margin-left: 1em;
    margin-right: auto;
    border-radius: 1em;
}

body p {
    color: var(--light-gray-color);
}

nav {
	background-color: var(--border-line);
	margin: 0 auto;
}

nav ul {
	list-style-type: none;
	overflow: hidden;
}

nav ul li a {
	display: block;
    color: var(--light-gray-color);
	text-align: left;
	padding: 0.75rem;
	text-decoration: none;
	font-size: 0.95rem;
	background: linear-gradient(90deg, transparent, rgb(0, 0, 0), transparent) top /
		var(--d, 0) 10px no-repeat;
	transition: 0.5s;
}

.active {
    color: var(--highlight-color);
    text-shadow: 0.1em 0.1em .75em #c8fff8;
}

main {
    margin: 1em;
}

main h2, h3, h4, p {
    margin: 1em;
    color: var(--highlight-color);
}

img {
    margin-left: 1em;
    border: 1px solid var(--border-line);
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.9);
}

.color-palette p{
    padding: 24px 0px;
    margin: 0px;
}

.color-palette {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    max-width: 500px;
    border-radius: 1em;
    margin: 1em;
    text-align: center;
}

.color-palette p:nth-child(1){
    background-color: var(--color-1);
    border-top-left-radius: 1em;
    border-bottom-left-radius: 1em;
    color: black;
}

.color-palette p:nth-child(2){
    background-color: var(--color-2);
    color: black;
}

.color-palette p:nth-child(3){
    background-color: var(--color-3);
    color: black;
}

.color-palette p:nth-child(4){
    background-color: var(--color-4);
    color: black;
}

.color-palette p:nth-child(5){
    color: black;
    background-color: var(--color-5);
    border-top-right-radius: 1em;
    border-bottom-right-radius: 1em;
}

.typography-example {
    display: grid;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    border: 1px solid var(--border-line);
    border-radius: 1em;
    margin: 1em;
    background-color: var(--border-line);
}

footer {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-gray-color);
    border-radius: 1em;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 100%;
    bottom: 0;
}

/* mouse over link */
a:hover {
    color: var(--link-hover);
}
/* selected link */
a:active {
    color: var(--link-active);
}